In [32]:
import requests
import pandas as pd
import io
import json
import configparser

In [45]:
config = configparser.RawConfigParser()
config.read('credentials.conf')

['credentials.conf']

# 1 - API DE STREAMING

In [34]:
url = "https://streaming-availability.p.rapidapi.com/search/basic"

querystring = {"country":"us","service":"netflix","type":"movie","genre":"18","page":"1","output_language":"en","language":"en"}

In [35]:
headers = {
	"X-RapidAPI-Host": "streaming-availability.p.rapidapi.com",
	"X-RapidAPI-Key": config["RAPIDAPI"]["KEY"]
}

r = requests.request("GET", url, headers=headers, params=querystring)

In [36]:
pretty_json = json.loads(r.text)
print (json.dumps(pretty_json, indent=2))

{
  "results": [
    {
      "imdbID": "tt9850370",
      "tmdbID": "610643",
      "imdbRating": 65,
      "imdbVoteCount": 1511,
      "tmdbRating": 69,
      "backdropPath": "/pYziM5SEmptPW0LdNhWvjzR2zD1.jpg",
      "backdropURLs": {
        "1280": "https://image.tmdb.org/t/p/w1280/pYziM5SEmptPW0LdNhWvjzR2zD1.jpg",
        "300": "https://image.tmdb.org/t/p/w300/pYziM5SEmptPW0LdNhWvjzR2zD1.jpg",
        "780": "https://image.tmdb.org/t/p/w780/pYziM5SEmptPW0LdNhWvjzR2zD1.jpg",
        "original": "https://image.tmdb.org/t/p/original/pYziM5SEmptPW0LdNhWvjzR2zD1.jpg"
      },
      "originalTitle": "#AnneFrank. Parallel Stories",
      "genres": [
        18,
        36
      ],
      "countries": [
        "IT"
      ],
      "year": 2019,
      "runtime": 92,
      "cast": [
        "Helen Mirren",
        "Anne Frank",
        "Martina Gatti",
        "Arianna Szorenyi"
      ],
      "significants": [
        "Sabina Fedeli",
        "Anna Migotto"
      ],
      "title": "#AnneFrank. Parallel Stories",
      "overview": "One single Anne Frank moves us more than the countless others who suffered just as she did but whose faces have remained in the shadows-Primo Levi. The Oscar\u00ae-winning Helen Mirren will introduce audiences to Anne Frank's story through the words in her diary. The set will be her room in the secret refuge in Amsterdam, reconstructed in every detail by set designers from the Piccolo Theatre in Milan. Anne Frank this year would have been 90 years old. Anne's story is intertwined with that of five Holocaust survivors, teenage girls just like her, with the same ideals, the same desire to live: Arianna Sz\u00f6renyi, Sarah Lichtsztejn-Montard, Helga Weiss and sisters Andra and Tatiana Bucci. Their testimonies alternate with those of their children and grandchildren.",
      "tagline": "",
      "video": "FzT7-NfkxLA",
      "posterPath": "/hkC4yNDFmW1yQuQhtZydMeRuaAb.jpg",
      "posterURLs": {
        "154": "https://image.tmdb.org/t/p/w154/hkC4yNDFmW1yQuQhtZydMeRuaAb.jpg",
        "185": "https://image.tmdb.org/t/p/w185/hkC4yNDFmW1yQuQhtZydMeRuaAb.jpg",
        "342": "https://image.tmdb.org/t/p/w342/hkC4yNDFmW1yQuQhtZydMeRuaAb.jpg",
        "500": "https://image.tmdb.org/t/p/w500/hkC4yNDFmW1yQuQhtZydMeRuaAb.jpg",
        "780": "https://image.tmdb.org/t/p/w780/hkC4yNDFmW1yQuQhtZydMeRuaAb.jpg",
        "92": "https://image.tmdb.org/t/p/w92/hkC4yNDFmW1yQuQhtZydMeRuaAb.jpg",
        "original": "https://image.tmdb.org/t/p/original/hkC4yNDFmW1yQuQhtZydMeRuaAb.jpg"
      },
      "age": 10,
      "streamingInfo": {
        "netflix": {
          "us": {
            "link": "https://www.netflix.com/title/81264660/",
            "added": 1600283847,
            "leaving": 0
          }
        }
      },
      "originalLanguage": "en"
    },
    {
      "imdbID": "tt5616176",
      "tmdbID": "710356",
      "imdbRating": 62,
      "imdbVoteCount": 3426,
      "tmdbRating": 77,
      "backdropPath": "/97aoG9EsExPflrUO8eEbnARaeZH.jpg",
      "backdropURLs": {
        "1280": "https://image.tmdb.org/t/p/w1280/97aoG9EsExPflrUO8eEbnARaeZH.jpg",
        "300": "https://image.tmdb.org/t/p/w300/97aoG9EsExPflrUO8eEbnARaeZH.jpg",
        "780": "https://image.tmdb.org/t/p/w780/97aoG9EsExPflrUO8eEbnARaeZH.jpg",
        "original": "https://image.tmdb.org/t/p/original/97aoG9EsExPflrUO8eEbnARaeZH.jpg"
      },
      "originalTitle": "2 Hearts",
      "genres": [
        18,
        10749
      ],
      "countries": [
        "US"
      ],
      "year": 2020,
      "runtime": 100,
      "cast": [
        "Jacob Elordi",
        "Adan Canto",
        "Tiera Skovbye",
        "Radha Mitchell",
        "Kari Matchett",
        "Tahmoh Penikett",
        "Steve Bacic"
      ],
      "significants": [
        "Lance Hool"
      ],
      "title": "2 Hearts",
      "overview": "When illness strikes two people who are polar opposites, life and death bring them together in surprising ways.",
      "tagline": "Discover the mystery that connects them all.",
      "video": "OjqewZT0r68",
      "posterPath": "/a7bW3uKOMPBnmHs8gnlpfhTD8YQ.jpg",
      "posterURLs": {
        "154": "https://image.tmdb.org/t/p/w154/a7bW3uKOMPBnmHs8gnlpfhTD8YQ.jpg",
        "185": "https://image.tmdb.org/t/p/w185/a7bW3uKOMPBnmHs8gnlpfhTD8YQ.jpg",
        "342": "https://image.tmdb.org/t/p/w342/a7bW3uKOMPBnmHs8gnlpfhTD8YQ.jpg",
        "500": "https://image.tmdb.org/t/p/w500/a7bW3uKOMPBnmHs8gnlpfhTD8YQ.jpg",
        "780": "https://image.tmdb.org/t/p/w780/a7bW3uKOMPBnmHs8gnlpfhTD8YQ.jpg",
        "92": "https://image.tmdb.org/t/p/w92/a7bW3uKOMPBnmHs8gnlpfhTD8YQ.jpg",
        "original": "https://image.tmdb.org/t/p/original/a7bW3uKOMPBnmHs8gnlpfhTD8YQ.jpg"
      },
      "age": 11,
      "streamingInfo": {
        "netflix": {
          "us": {
            "link": "https://www.netflix.com/title/81435805/",
            "added": 1622682722,
            "leaving": 0
          }
        }
      },
      "originalLanguage": "en"
    },
    {
      "imdbID": "tt0478087",
      "tmdbID": "8065",
      "imdbRating": 68,
      "imdbVoteCount": 245990,
      "tmdbRating": 67,
      "backdropPath": "/u6OCGwhSWhfQX1LZ4NTq0bfcWxs.jpg",
      "backdropURLs": {
        "1280": "https://image.tmdb.org/t/p/w1280/u6OCGwhSWhfQX1LZ4NTq0bfcWxs.jpg",
        "300": "https://image.tmdb.org/t/p/w300/u6OCGwhSWhfQX1LZ4NTq0bfcWxs.jpg",
        "780": "https://image.tmdb.org/t/p/w780/u6OCGwhSWhfQX1LZ4NTq0bfcWxs.jpg",
        "original": "https://image.tmdb.org/t/p/original/u6OCGwhSWhfQX1LZ4NTq0bfcWxs.jpg"
      },
      "originalTitle": "21",
      "genres": [
        80,
        18,
        36
      ],
      "countries": [
        "US"
      ],
      "year": 2008,
      "runtime": 123,
      "cast": [
        "Jim Sturgess",
        "Kevin Spacey",
        "Kate Bosworth",
        "Aaron Yoo",
        "Liza Lapira",
        "Jacob Pitts",
        "Laurence Fishburne"
      ],
      "significants": [
        "Robert Luketic"
      ],
      "title": "21",
      "overview": "Ben Campbell is a young, highly intelligent, student at M.I.T. in Boston who strives to succeed. Wanting a scholarship to transfer to Harvard School of Medicine with the desire to become a doctor, Ben learns that he cannot afford the $300,000 for the four to five years of schooling as he comes from a poor, working-class background. But one evening, Ben is introduced by his unorthodox math professor Micky Rosa into a small but secretive club of five. Students Jill, Choi, Kianna, and Fisher, who are being trained by Professor Rosa of the skill of card counting at blackjack.",
      "tagline": "They proved the Vegas Blackjack System was beatable...by beating the hell out of it.",
      "video": "0DpvqzPdXoc",
      "posterPath": "/efG8Po57alqSlhqHU1lXJ3duG6t.jpg",
      "posterURLs": {
        "154": "https://image.tmdb.org/t/p/w154/efG8Po57alqSlhqHU1lXJ3duG6t.jpg",
        "185": "https://image.tmdb.org/t/p/w185/efG8Po57alqSlhqHU1lXJ3duG6t.jpg",
        "342": "https://image.tmdb.org/t/p/w342/efG8Po57alqSlhqHU1lXJ3duG6t.jpg",
        "500": "https://image.tmdb.org/t/p/w500/efG8Po57alqSlhqHU1lXJ3duG6t.jpg",
        "780": "https://image.tmdb.org/t/p/w780/efG8Po57alqSlhqHU1lXJ3duG6t.jpg",
        "92": "https://image.tmdb.org/t/p/w92/efG8Po57alqSlhqHU1lXJ3duG6t.jpg",
        "original": "https://image.tmdb.org/t/p/original/efG8Po57alqSlhqHU1lXJ3duG6t.jpg"
      },
      "age": 11,
      "streamingInfo": {
        "netflix": {
          "us": {
            "link": "https://www.netflix.com/title/70084788/",
            "added": 1646312234,
            "leaving": 0
          }
        }
      },
      "originalLanguage": "en"
    },
    {
      "imdbID": "tt7280898",
      "tmdbID": "474354",
      "imdbRating": 68,
      "imdbVoteCount": 33155,
      "tmdbRating": 72,
      "backdropPath": "/rKzHtW1bdboA89FwiyRBNTY7edc.jpg",
      "backdropURLs": {
        "1280": "https://image.tmdb.org/t/p/w1280/rKzHtW1bdboA89FwiyRBNTY7edc.jpg",
        "300": "https://image.tmdb.org/t/p/w300/rKzHtW1bdboA89FwiyRBNTY7edc.jpg",
        "780": "https://image.tmdb.org/t/p/w780/rKzHtW1bdboA89FwiyRBNTY7edc.jpg",
        "original": "https://image.tmdb.org/t/p/original/rKzHtW1bdboA89FwiyRBNTY7edc.jpg"
      },
      "originalTitle": "22 July",
      "genres": [
        80,
        18,
        36
      ],
      "countries": [
        "IS",
        "NO",
        "US"
      ],
      "year": 2018,
      "runtime": 143,
      "cast": [
        "Jonas Strand Gravli",
        "Anders Danielsen Lie",
        "Jon \u00d8igarden",
        "Seda Witt",
        "Ola G. Furuseth",
        "Maria Bock",
        "Isak Bakli Aglen"
      ],
      "significants": [
        "Paul Greengrass"
      ],
      "title": "22 July",
      "overview": "In Norway on 22 July 2011, neo-Nazi terrorist Anders Behring Breivik murdered 77 young people attending a Labour Party Youth Camp on Ut\u00f6ya Island outside of Oslo. This three-part story will focus on the survivors of the attacks, the political leadership of Norway, and the lawyers involved.",
      "tagline": "The true story of a day that started like any other",
      "video": "ZVpUZGmHJB8",
      "posterPath": "/8RZjeZ69UDLkaFQVKcslciP6MOr.jpg",
      "posterURLs": {
        "154": "https://image.tmdb.org/t/p/w154/8RZjeZ69UDLkaFQVKcslciP6MOr.jpg",
        "185": "https://image.tmdb.org/t/p/w185/8RZjeZ69UDLkaFQVKcslciP6MOr.jpg",
        "342": "https://image.tmdb.org/t/p/w342/8RZjeZ69UDLkaFQVKcslciP6MOr.jpg",
        "500": "https://image.tmdb.org/t/p/w500/8RZjeZ69UDLkaFQVKcslciP6MOr.jpg",
        "780": "https://image.tmdb.org/t/p/w780/8RZjeZ69UDLkaFQVKcslciP6MOr.jpg",
        "92": "https://image.tmdb.org/t/p/w92/8RZjeZ69UDLkaFQVKcslciP6MOr.jpg",
        "original": "https://image.tmdb.org/t/p/original/8RZjeZ69UDLkaFQVKcslciP6MOr.jpg"
      },
      "age": 17,
      "streamingInfo": {
        "netflix": {
          "us": {
            "link": "https://www.netflix.com/title/80210932/",
            "added": 1600283847,
            "leaving": 0
          }
        }
      },
      "originalLanguage": "en"
    },
    {
      "imdbID": "tt2933544",
      "tmdbID": "286521",
      "imdbRating": 62,
      "imdbVoteCount": 10463,
      "tmdbRating": 60,
      "backdropPath": "/sydvKR3zdaLPQM96tUJmi7vD0XR.jpg",
      "backdropURLs": {
        "1280": "https://image.tmdb.org/t/p/w1280/sydvKR3zdaLPQM96tUJmi7vD0XR.jpg",
        "300": "https://image.tmdb.org/t/p/w300/sydvKR3zdaLPQM96tUJmi7vD0XR.jpg",
        "780": "https://image.tmdb.org/t/p/w780/sydvKR3zdaLPQM96tUJmi7vD0XR.jpg",
        "original": "https://image.tmdb.org/t/p/original/sydvKR3zdaLPQM96tUJmi7vD0XR.jpg"
      },
      "originalTitle": "5 Flights Up",
      "genres": [
        18
      ],
      "countries": [
        "US"
      ],
      "year": 2014,
      "runtime": 92,
      "cast": [
        "Morgan Freeman",
        "Diane Keaton",
        "Carrie Preston",
        "Cynthia Nixon",
        "Alysia Reiner",
        "Josh Pais",
        "Claire van der Boom"
      ],
      "significants": [
        "Richard Loncraine"
      ],
      "title": "5 Flights Up",
      "overview": "A long-time married couple who've spent their lives together in the same New York apartment become overwhelmed by personal and real estate-related issues when they plan to move away.",
      "tagline": "A coming of age story",
      "video": "PreX3h3QYHY",
      "posterPath": "/2WI5oq2QswLB0kJFOcL7ZA5ndKr.jpg",
      "posterURLs": {
        "154": "https://image.tmdb.org/t/p/w154/2WI5oq2QswLB0kJFOcL7ZA5ndKr.jpg",
        "185": "https://image.tmdb.org/t/p/w185/2WI5oq2QswLB0kJFOcL7ZA5ndKr.jpg",
        "342": "https://image.tmdb.org/t/p/w342/2WI5oq2QswLB0kJFOcL7ZA5ndKr.jpg",
        "500": "https://image.tmdb.org/t/p/w500/2WI5oq2QswLB0kJFOcL7ZA5ndKr.jpg",
        "780": "https://image.tmdb.org/t/p/w780/2WI5oq2QswLB0kJFOcL7ZA5ndKr.jpg",
        "92": "https://image.tmdb.org/t/p/w92/2WI5oq2QswLB0kJFOcL7ZA5ndKr.jpg",
        "original": "https://image.tmdb.org/t/p/original/2WI5oq2QswLB0kJFOcL7ZA5ndKr.jpg"
      },
      "age": 9,
      "streamingInfo": {
        "netflix": {
          "us": {
            "link": "https://www.netflix.com/title/80017171/",
            "added": 1600283847,
            "leaving": 0
          }
        },
        "starz": {
          "us": {
            "link": "https://www.starz.com/us/en/movies/65294",
            "added": 1647483958,
            "leaving": 32503697999
          }
        }
      },
      "originalLanguage": "en"
    },
    {
      "imdbID": "tt6142496",
      "tmdbID": "500634",
      "imdbRating": 59,
      "imdbVoteCount": 4100,
      "tmdbRating": 61,
      "backdropPath": "/vnPl93ld9Sfp9gkSFGOh7v0cjRy.jpg",
      "backdropURLs": {
        "1280": "https://image.tmdb.org/t/p/w1280/vnPl93ld9Sfp9gkSFGOh7v0cjRy.jpg",
        "300": "https://image.tmdb.org/t/p/w300/vnPl93ld9Sfp9gkSFGOh7v0cjRy.jpg",
        "780": "https://image.tmdb.org/t/p/w780/vnPl93ld9Sfp9gkSFGOh7v0cjRy.jpg",
        "original": "https://image.tmdb.org/t/p/original/vnPl93ld9Sfp9gkSFGOh7v0cjRy.jpg"
      },
      "originalTitle": "6 Balloons",
      "genres": [
        18
      ],
      "countries": [
        "US"
      ],
      "year": 2018,
      "runtime": 75,
      "cast": [
        "Abbi Jacobson",
        "Dave Franco",
        "Charlotte Carel",
        "Madeline Carel",
        "Jane Kaczmarek",
        "Dawan Owens",
        "Tim Matheson"
      ],
      "significants": [
        "Marja-Lewis Ryan"
      ],
      "title": "6 Balloons",
      "overview": "Over the course of one night, a woman drives across LA with her heroin addict brother in search of a detox center, with his two-year-old daughter in tow.",
      "tagline": "Let go with love.",
      "video": "9uF4XjvS_Z0",
      "posterPath": "/aqSQCTtehs7bF8VhpnAtrP5yUo.jpg",
      "posterURLs": {
        "154": "https://image.tmdb.org/t/p/w154/aqSQCTtehs7bF8VhpnAtrP5yUo.jpg",
        "185": "https://image.tmdb.org/t/p/w185/aqSQCTtehs7bF8VhpnAtrP5yUo.jpg",
        "342": "https://image.tmdb.org/t/p/w342/aqSQCTtehs7bF8VhpnAtrP5yUo.jpg",
        "500": "https://image.tmdb.org/t/p/w500/aqSQCTtehs7bF8VhpnAtrP5yUo.jpg",
        "780": "https://image.tmdb.org/t/p/w780/aqSQCTtehs7bF8VhpnAtrP5yUo.jpg",
        "92": "https://image.tmdb.org/t/p/w92/aqSQCTtehs7bF8VhpnAtrP5yUo.jpg",
        "original": "https://image.tmdb.org/t/p/original/aqSQCTtehs7bF8VhpnAtrP5yUo.jpg"
      },
      "age": 17,
      "streamingInfo": {
        "netflix": {
          "us": {
            "link": "https://www.netflix.com/title/80130625/",
            "added": 1600283847,
            "leaving": 0
          }
        }
      },
      "originalLanguage": "en"
    },
    {
      "imdbID": "tt3799372",
      "tmdbID": "323674",
      "imdbRating": 55,
      "imdbVoteCount": 12517,
      "tmdbRating": 54,
      "backdropPath": "/v5C8SDi6nGYI0dLbegvTyrU581p.jpg",
      "backdropURLs": {
        "1280": "https://image.tmdb.org/t/p/w1280/v5C8SDi6nGYI0dLbegvTyrU581p.jpg",
        "300": "https://image.tmdb.org/t/p/w300/v5C8SDi6nGYI0dLbegvTyrU581p.jpg",
        "780": "https://image.tmdb.org/t/p/w780/v5C8SDi6nGYI0dLbegvTyrU581p.jpg",
        "original": "https://image.tmdb.org/t/p/original/v5C8SDi6nGYI0dLbegvTyrU581p.jpg"
      },
      "originalTitle": "6 Years",
      "genres": [
        18,
        10749
      ],
      "countries": [],
      "year": 2015,
      "runtime": 84,
      "cast": [
        "Taissa Farmiga",
        "Ben Rosenfield",
        "Lindsay Burdge",
        "Joshua Leonard",
        "Jennifer Lafleur",
        "Peter Vack",
        "Dana Wheeler-Nicholson"
      ],
      "significants": [
        "Hannah Fidell"
      ],
      "title": "6 Years",
      "overview": "A young couple bound by a seemingly ideal love, begins to unravel as unexpected opportunities spin them down a volatile and violent path and threaten the future they had always imagined.",
      "tagline": "",
      "video": "Kiq3ZUho2zk",
      "posterPath": "/dE9kVpWI2F5jI8LGWby5t7iFwXe.jpg",
      "posterURLs": {
        "154": "https://image.tmdb.org/t/p/w154/dE9kVpWI2F5jI8LGWby5t7iFwXe.jpg",
        "185": "https://image.tmdb.org/t/p/w185/dE9kVpWI2F5jI8LGWby5t7iFwXe.jpg",
        "342": "https://image.tmdb.org/t/p/w342/dE9kVpWI2F5jI8LGWby5t7iFwXe.jpg",
        "500": "https://image.tmdb.org/t/p/w500/dE9kVpWI2F5jI8LGWby5t7iFwXe.jpg",
        "780": "https://image.tmdb.org/t/p/w780/dE9kVpWI2F5jI8LGWby5t7iFwXe.jpg",
        "92": "https://image.tmdb.org/t/p/w92/dE9kVpWI2F5jI8LGWby5t7iFwXe.jpg",
        "original": "https://image.tmdb.org/t/p/original/dE9kVpWI2F5jI8LGWby5t7iFwXe.jpg"
      },
      "age": 17,
      "streamingInfo": {
        "netflix": {
          "us": {
            "link": "https://www.netflix.com/title/80045922/",
            "added": 1600283847,
            "leaving": 0
          }
        }
      },
      "originalLanguage": "en"
    },
    {
      "imdbID": "tt13055780",
      "tmdbID": "768520",
      "imdbRating": 58,
      "imdbVoteCount": 9720,
      "tmdbRating": 64,
      "backdropPath": "/cwWPWhdnqOBvGz3zRzD9zbhQQLZ.jpg",
      "backdropURLs": {
        "1280": "https://image.tmdb.org/t/p/w1280/cwWPWhdnqOBvGz3zRzD9zbhQQLZ.jpg",
        "300": "https://image.tmdb.org/t/p/w300/cwWPWhdnqOBvGz3zRzD9zbhQQLZ.jpg",
        "780": "https://image.tmdb.org/t/p/w780/cwWPWhdnqOBvGz3zRzD9zbhQQLZ.jpg",
        "original": "https://image.tmdb.org/t/p/original/cwWPWhdnqOBvGz3zRzD9zbhQQLZ.jpg"
      },
      "originalTitle": "A California Christmas",
      "genres": [
        35,
        18,
        10749
      ],
      "countries": [
        "US"
      ],
      "year": 2020,
      "runtime": 106,
      "cast": [
        "Lorynn York",
        "Josh Swickard",
        "Ali Afshar",
        "David Del Rio",
        "Natalia Mann",
        "Katelyn Epperly",
        "Gunnar Anderson"
      ],
      "significants": [
        "Shaun Paul Piccinino"
      ],
      "title": "A California Christmas",
      "overview": "With his carefree lifestyle on the line, a wealthy charmer poses as a ranch hand to get a hardworking farmer to sell her family\u2019s land before Christmas.",
      "tagline": "",
      "video": "z9VAeDLNSMg",
      "posterPath": "/caCbdsdGHDJNMjSiA5X4mgIfe61.jpg",
      "posterURLs": {
        "154": "https://image.tmdb.org/t/p/w154/caCbdsdGHDJNMjSiA5X4mgIfe61.jpg",
        "185": "https://image.tmdb.org/t/p/w185/caCbdsdGHDJNMjSiA5X4mgIfe61.jpg",
        "342": "https://image.tmdb.org/t/p/w342/caCbdsdGHDJNMjSiA5X4mgIfe61.jpg",
        "500": "https://image.tmdb.org/t/p/w500/caCbdsdGHDJNMjSiA5X4mgIfe61.jpg",
        "780": "https://image.tmdb.org/t/p/w780/caCbdsdGHDJNMjSiA5X4mgIfe61.jpg",
        "92": "https://image.tmdb.org/t/p/w92/caCbdsdGHDJNMjSiA5X4mgIfe61.jpg",
        "original": "https://image.tmdb.org/t/p/original/caCbdsdGHDJNMjSiA5X4mgIfe61.jpg"
      },
      "age": 11,
      "streamingInfo": {
        "netflix": {
          "us": {
            "link": "https://www.netflix.com/title/81344378/",
            "added": 1608146835,
            "leaving": 0
          }
        }
      },
      "originalLanguage": "en"
    }
  ],
  "total_pages": 60
}

In [37]:
pd.DataFrame.from_dict(pretty_json, orient='columns')

                                             results  total_pages
0  {'imdbID': 'tt9850370', 'tmdbID': '610643', 'i...           60
1  {'imdbID': 'tt5616176', 'tmdbID': '710356', 'i...           60
2  {'imdbID': 'tt0478087', 'tmdbID': '8065', 'imd...           60
3  {'imdbID': 'tt7280898', 'tmdbID': '474354', 'i...           60
4  {'imdbID': 'tt2933544', 'tmdbID': '286521', 'i...           60
5  {'imdbID': 'tt6142496', 'tmdbID': '500634', 'i...           60
6  {'imdbID': 'tt3799372', 'tmdbID': '323674', 'i...           60
7  {'imdbID': 'tt13055780', 'tmdbID': '768520', '...           60

## 2 - API DO TWITTER

In [38]:
!pip install tweepy

Requirement already satisfied: tweepy in c:\users\luizernestoferreiraa\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: oauthlib<4,>=3.2.0 in c:\users\luizernestoferreiraa\anaconda3\lib\site-packages (from tweepy) (3.2.0)
Requirement already satisfied: requests<3,>=2.27.0 in c:\users\luizernestoferreiraa\anaconda3\lib\site-packages (from tweepy) (2.27.1)
Requirement already satisfied: requests-oauthlib<2,>=1.2.0 in c:\users\luizernestoferreiraa\anaconda3\lib\site-packages (from tweepy) (1.3.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\luizernestoferreiraa\anaconda3\lib\site-packages (from requests<3,>=2.27.0->tweepy) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\luizernestoferreiraa\anaconda3\lib\site-packages (from requests<3,>=2.27.0->tweepy) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\luizernestoferreiraa\anaconda3\lib\site-packages (from requests<3,>=2.27.0->tweepy) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\luizernestoferreiraa\anaconda3\lib\site-packages (from requests<3,>=2.27.0->tweepy) (2021.10.8)

WARNING: You are using pip version 21.3.1; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\LuizErnestoFerreiraA\anaconda3\python.exe -m pip install --upgrade pip' command.

In [47]:
import tweepy

client = tweepy.Client(config["TWITTER"]["TOKEN"])
query = "Miranha"


start = '2022-04-17T00:00:00Z'
end = '2022-04-21T23:59:00Z'

# https://docs.tweepy.org/en/stable/client.html
# https://docs.tweepy.org/en/stable/client.html#tweepy.Client.get_recent_tweets_count

response = client.get_recent_tweets_count(query, granularity="hour", start_time = start, end_time= end)

for count in response.data:
    print(count)

{'end': '2022-04-17T01:00:00.000Z', 'start': '2022-04-17T00:00:00.000Z', 'tweet_count': 27}
{'end': '2022-04-17T02:00:00.000Z', 'start': '2022-04-17T01:00:00.000Z', 'tweet_count': 38}
{'end': '2022-04-17T03:00:00.000Z', 'start': '2022-04-17T02:00:00.000Z', 'tweet_count': 23}
{'end': '2022-04-17T04:00:00.000Z', 'start': '2022-04-17T03:00:00.000Z', 'tweet_count': 30}
{'end': '2022-04-17T05:00:00.000Z', 'start': '2022-04-17T04:00:00.000Z', 'tweet_count': 9}
{'end': '2022-04-17T06:00:00.000Z', 'start': '2022-04-17T05:00:00.000Z', 'tweet_count': 10}
{'end': '2022-04-17T07:00:00.000Z', 'start': '2022-04-17T06:00:00.000Z', 'tweet_count': 16}
{'end': '2022-04-17T08:00:00.000Z', 'start': '2022-04-17T07:00:00.000Z', 'tweet_count': 2}
{'end': '2022-04-17T09:00:00.000Z', 'start': '2022-04-17T08:00:00.000Z', 'tweet_count': 1}
{'end': '2022-04-17T10:00:00.000Z', 'start': '2022-04-17T09:00:00.000Z', 'tweet_count': 6}
{'end': '2022-04-17T11:00:00.000Z', 'start': '2022-04-17T10:00:00.000Z', 'tweet_count': 5}
{'end': '2022-04-17T12:00:00.000Z', 'start': '2022-04-17T11:00:00.000Z', 'tweet_count': 11}
{'end': '2022-04-17T13:00:00.000Z', 'start': '2022-04-17T12:00:00.000Z', 'tweet_count': 10}
{'end': '2022-04-17T14:00:00.000Z', 'start': '2022-04-17T13:00:00.000Z', 'tweet_count': 72}
{'end': '2022-04-17T15:00:00.000Z', 'start': '2022-04-17T14:00:00.000Z', 'tweet_count': 40}
{'end': '2022-04-17T16:00:00.000Z', 'start': '2022-04-17T15:00:00.000Z', 'tweet_count': 46}
{'end': '2022-04-17T17:00:00.000Z', 'start': '2022-04-17T16:00:00.000Z', 'tweet_count': 28}
{'end': '2022-04-17T18:00:00.000Z', 'start': '2022-04-17T17:00:00.000Z', 'tweet_count': 37}
{'end': '2022-04-17T19:00:00.000Z', 'start': '2022-04-17T18:00:00.000Z', 'tweet_count': 36}
{'end': '2022-04-17T20:00:00.000Z', 'start': '2022-04-17T19:00:00.000Z', 'tweet_count': 27}
{'end': '2022-04-17T21:00:00.000Z', 'start': '2022-04-17T20:00:00.000Z', 'tweet_count': 60}
{'end': '2022-04-17T22:00:00.000Z', 'start': '2022-04-17T21:00:00.000Z', 'tweet_count': 42}
{'end': '2022-04-17T23:00:00.000Z', 'start': '2022-04-17T22:00:00.000Z', 'tweet_count': 40}
{'end': '2022-04-18T00:00:00.000Z', 'start': '2022-04-17T23:00:00.000Z', 'tweet_count': 69}
{'end': '2022-04-18T01:00:00.000Z', 'start': '2022-04-18T00:00:00.000Z', 'tweet_count': 88}
{'end': '2022-04-18T02:00:00.000Z', 'start': '2022-04-18T01:00:00.000Z', 'tweet_count': 60}
{'end': '2022-04-18T03:00:00.000Z', 'start': '2022-04-18T02:00:00.000Z', 'tweet_count': 85}
{'end': '2022-04-18T04:00:00.000Z', 'start': '2022-04-18T03:00:00.000Z', 'tweet_count': 46}
{'end': '2022-04-18T05:00:00.000Z', 'start': '2022-04-18T04:00:00.000Z', 'tweet_count': 30}
{'end': '2022-04-18T06:00:00.000Z', 'start': '2022-04-18T05:00:00.000Z', 'tweet_count': 19}
{'end': '2022-04-18T07:00:00.000Z', 'start': '2022-04-18T06:00:00.000Z', 'tweet_count': 8}
{'end': '2022-04-18T08:00:00.000Z', 'start': '2022-04-18T07:00:00.000Z', 'tweet_count': 14}
{'end': '2022-04-18T09:00:00.000Z', 'start': '2022-04-18T08:00:00.000Z', 'tweet_count': 10}
{'end': '2022-04-18T10:00:00.000Z', 'start': '2022-04-18T09:00:00.000Z', 'tweet_count': 13}
{'end': '2022-04-18T11:00:00.000Z', 'start': '2022-04-18T10:00:00.000Z', 'tweet_count': 53}
{'end': '2022-04-18T12:00:00.000Z', 'start': '2022-04-18T11:00:00.000Z', 'tweet_count': 60}
{'end': '2022-04-18T13:00:00.000Z', 'start': '2022-04-18T12:00:00.000Z', 'tweet_count': 43}
{'end': '2022-04-18T14:00:00.000Z', 'start': '2022-04-18T13:00:00.000Z', 'tweet_count': 36}
{'end': '2022-04-18T15:00:00.000Z', 'start': '2022-04-18T14:00:00.000Z', 'tweet_count': 48}
{'end': '2022-04-18T16:00:00.000Z', 'start': '2022-04-18T15:00:00.000Z', 'tweet_count': 49}
{'end': '2022-04-18T17:00:00.000Z', 'start': '2022-04-18T16:00:00.000Z', 'tweet_count': 50}
{'end': '2022-04-18T18:00:00.000Z', 'start': '2022-04-18T17:00:00.000Z', 'tweet_count': 50}
{'end': '2022-04-18T19:00:00.000Z', 'start': '2022-04-18T18:00:00.000Z', 'tweet_count': 30}
{'end': '2022-04-18T20:00:00.000Z', 'start': '2022-04-18T19:00:00.000Z', 'tweet_count': 31}
{'end': '2022-04-18T21:00:00.000Z', 'start': '2022-04-18T20:00:00.000Z', 'tweet_count': 28}
{'end': '2022-04-18T22:00:00.000Z', 'start': '2022-04-18T21:00:00.000Z', 'tweet_count': 30}
{'end': '2022-04-18T23:00:00.000Z', 'start': '2022-04-18T22:00:00.000Z', 'tweet_count': 33}
{'end': '2022-04-19T00:00:00.000Z', 'start': '2022-04-18T23:00:00.000Z', 'tweet_count': 40}
{'end': '2022-04-19T01:00:00.000Z', 'start': '2022-04-19T00:00:00.000Z', 'tweet_count': 47}
{'end': '2022-04-19T02:00:00.000Z', 'start': '2022-04-19T01:00:00.000Z', 'tweet_count': 37}
{'end': '2022-04-19T03:00:00.000Z', 'start': '2022-04-19T02:00:00.000Z', 'tweet_count': 26}
{'end': '2022-04-19T04:00:00.000Z', 'start': '2022-04-19T03:00:00.000Z', 'tweet_count': 23}
{'end': '2022-04-19T05:00:00.000Z', 'start': '2022-04-19T04:00:00.000Z', 'tweet_count': 16}
{'end': '2022-04-19T06:00:00.000Z', 'start': '2022-04-19T05:00:00.000Z', 'tweet_count': 6}
{'end': '2022-04-19T07:00:00.000Z', 'start': '2022-04-19T06:00:00.000Z', 'tweet_count': 4}
{'end': '2022-04-19T08:00:00.000Z', 'start': '2022-04-19T07:00:00.000Z', 'tweet_count': 0}
{'end': '2022-04-19T09:00:00.000Z', 'start': '2022-04-19T08:00:00.000Z', 'tweet_count': 3}
{'end': '2022-04-19T10:00:00.000Z', 'start': '2022-04-19T09:00:00.000Z', 'tweet_count': 13}
{'end': '2022-04-19T11:00:00.000Z', 'start': '2022-04-19T10:00:00.000Z', 'tweet_count': 11}
{'end': '2022-04-19T12:00:00.000Z', 'start': '2022-04-19T11:00:00.000Z', 'tweet_count': 13}
{'end': '2022-04-19T13:00:00.000Z', 'start': '2022-04-19T12:00:00.000Z', 'tweet_count': 13}
{'end': '2022-04-19T14:00:00.000Z', 'start': '2022-04-19T13:00:00.000Z', 'tweet_count': 12}
{'end': '2022-04-19T15:00:00.000Z', 'start': '2022-04-19T14:00:00.000Z', 'tweet_count': 26}
{'end': '2022-04-19T16:00:00.000Z', 'start': '2022-04-19T15:00:00.000Z', 'tweet_count': 31}
{'end': '2022-04-19T17:00:00.000Z', 'start': '2022-04-19T16:00:00.000Z', 'tweet_count': 13}
{'end': '2022-04-19T18:00:00.000Z', 'start': '2022-04-19T17:00:00.000Z', 'tweet_count': 33}
{'end': '2022-04-19T19:00:00.000Z', 'start': '2022-04-19T18:00:00.000Z', 'tweet_count': 15}
{'end': '2022-04-19T20:00:00.000Z', 'start': '2022-04-19T19:00:00.000Z', 'tweet_count': 20}
{'end': '2022-04-19T21:00:00.000Z', 'start': '2022-04-19T20:00:00.000Z', 'tweet_count': 24}
{'end': '2022-04-19T22:00:00.000Z', 'start': '2022-04-19T21:00:00.000Z', 'tweet_count': 28}
{'end': '2022-04-19T23:00:00.000Z', 'start': '2022-04-19T22:00:00.000Z', 'tweet_count': 46}
{'end': '2022-04-20T00:00:00.000Z', 'start': '2022-04-19T23:00:00.000Z', 'tweet_count': 19}
{'end': '2022-04-20T01:00:00.000Z', 'start': '2022-04-20T00:00:00.000Z', 'tweet_count': 28}
{'end': '2022-04-20T02:00:00.000Z', 'start': '2022-04-20T01:00:00.000Z', 'tweet_count': 40}
{'end': '2022-04-20T03:00:00.000Z', 'start': '2022-04-20T02:00:00.000Z', 'tweet_count': 65}
{'end': '2022-04-20T04:00:00.000Z', 'start': '2022-04-20T03:00:00.000Z', 'tweet_count': 23}
{'end': '2022-04-20T05:00:00.000Z', 'start': '2022-04-20T04:00:00.000Z', 'tweet_count': 23}
{'end': '2022-04-20T06:00:00.000Z', 'start': '2022-04-20T05:00:00.000Z', 'tweet_count': 7}
{'end': '2022-04-20T07:00:00.000Z', 'start': '2022-04-20T06:00:00.000Z', 'tweet_count': 2}
{'end': '2022-04-20T08:00:00.000Z', 'start': '2022-04-20T07:00:00.000Z', 'tweet_count': 2}
{'end': '2022-04-20T09:00:00.000Z', 'start': '2022-04-20T08:00:00.000Z', 'tweet_count': 5}
{'end': '2022-04-20T10:00:00.000Z', 'start': '2022-04-20T09:00:00.000Z', 'tweet_count': 9}
{'end': '2022-04-20T11:00:00.000Z', 'start': '2022-04-20T10:00:00.000Z', 'tweet_count': 17}
{'end': '2022-04-20T12:00:00.000Z', 'start': '2022-04-20T11:00:00.000Z', 'tweet_count': 19}
{'end': '2022-04-20T13:00:00.000Z', 'start': '2022-04-20T12:00:00.000Z', 'tweet_count': 14}
{'end': '2022-04-20T14:00:00.000Z', 'start': '2022-04-20T13:00:00.000Z', 'tweet_count': 14}
{'end': '2022-04-20T15:00:00.000Z', 'start': '2022-04-20T14:00:00.000Z', 'tweet_count': 26}
{'end': '2022-04-20T16:00:00.000Z', 'start': '2022-04-20T15:00:00.000Z', 'tweet_count': 24}
{'end': '2022-04-20T17:00:00.000Z', 'start': '2022-04-20T16:00:00.000Z', 'tweet_count': 26}
{'end': '2022-04-20T18:00:00.000Z', 'start': '2022-04-20T17:00:00.000Z', 'tweet_count': 19}
{'end': '2022-04-20T19:00:00.000Z', 'start': '2022-04-20T18:00:00.000Z', 'tweet_count': 15}
{'end': '2022-04-20T20:00:00.000Z', 'start': '2022-04-20T19:00:00.000Z', 'tweet_count': 21}
{'end': '2022-04-20T21:00:00.000Z', 'start': '2022-04-20T20:00:00.000Z', 'tweet_count': 22}
{'end': '2022-04-20T22:00:00.000Z', 'start': '2022-04-20T21:00:00.000Z', 'tweet_count': 32}
{'end': '2022-04-20T23:00:00.000Z', 'start': '2022-04-20T22:00:00.000Z', 'tweet_count': 28}
{'end': '2022-04-21T00:00:00.000Z', 'start': '2022-04-20T23:00:00.000Z', 'tweet_count': 54}
{'end': '2022-04-21T01:00:00.000Z', 'start': '2022-04-21T00:00:00.000Z', 'tweet_count': 26}
{'end': '2022-04-21T02:00:00.000Z', 'start': '2022-04-21T01:00:00.000Z', 'tweet_count': 43}
{'end': '2022-04-21T03:00:00.000Z', 'start': '2022-04-21T02:00:00.000Z', 'tweet_count': 37}
{'end': '2022-04-21T04:00:00.000Z', 'start': '2022-04-21T03:00:00.000Z', 'tweet_count': 28}
{'end': '2022-04-21T05:00:00.000Z', 'start': '2022-04-21T04:00:00.000Z', 'tweet_count': 11}
{'end': '2022-04-21T06:00:00.000Z', 'start': '2022-04-21T05:00:00.000Z', 'tweet_count': 27}
{'end': '2022-04-21T07:00:00.000Z', 'start': '2022-04-21T06:00:00.000Z', 'tweet_count': 10}
{'end': '2022-04-21T08:00:00.000Z', 'start': '2022-04-21T07:00:00.000Z', 'tweet_count': 3}
{'end': '2022-04-21T09:00:00.000Z', 'start': '2022-04-21T08:00:00.000Z', 'tweet_count': 6}
{'end': '2022-04-21T10:00:00.000Z', 'start': '2022-04-21T09:00:00.000Z', 'tweet_count': 2}
{'end': '2022-04-21T11:00:00.000Z', 'start': '2022-04-21T10:00:00.000Z', 'tweet_count': 4}
{'end': '2022-04-21T12:00:00.000Z', 'start': '2022-04-21T11:00:00.000Z', 'tweet_count': 12}
{'end': '2022-04-21T13:00:00.000Z', 'start': '2022-04-21T12:00:00.000Z', 'tweet_count': 10}
{'end': '2022-04-21T14:00:00.000Z', 'start': '2022-04-21T13:00:00.000Z', 'tweet_count': 18}
{'end': '2022-04-21T15:00:00.000Z', 'start': '2022-04-21T14:00:00.000Z', 'tweet_count': 23}
{'end': '2022-04-21T16:00:00.000Z', 'start': '2022-04-21T15:00:00.000Z', 'tweet_count': 28}
{'end': '2022-04-21T17:00:00.000Z', 'start': '2022-04-21T16:00:00.000Z', 'tweet_count': 115}
{'end': '2022-04-21T18:00:00.000Z', 'start': '2022-04-21T17:00:00.000Z', 'tweet_count': 37}
{'end': '2022-04-21T19:00:00.000Z', 'start': '2022-04-21T18:00:00.000Z', 'tweet_count': 36}
{'end': '2022-04-21T20:00:00.000Z', 'start': '2022-04-21T19:00:00.000Z', 'tweet_count': 23}
{'end': '2022-04-21T21:00:00.000Z', 'start': '2022-04-21T20:00:00.000Z', 'tweet_count': 30}
{'end': '2022-04-21T22:00:00.000Z', 'start': '2022-04-21T21:00:00.000Z', 'tweet_count': 39}
{'end': '2022-04-21T23:00:00.000Z', 'start': '2022-04-21T22:00:00.000Z', 'tweet_count': 27}
{'end': '2022-04-21T23:59:00.000Z', 'start': '2022-04-21T23:00:00.000Z', 'tweet_count': 28}

In [48]:
df = pd.DataFrame.from_dict(response.data, orient='columns')
df['end'] = pd.to_datetime(df.end)
df['start'] = pd.to_datetime(df.start)
df.head()

                        end                     start  tweet_count
0 2022-04-17 01:00:00+00:00 2022-04-17 00:00:00+00:00           27
1 2022-04-17 02:00:00+00:00 2022-04-17 01:00:00+00:00           38
2 2022-04-17 03:00:00+00:00 2022-04-17 02:00:00+00:00           23
3 2022-04-17 04:00:00+00:00 2022-04-17 03:00:00+00:00           30
4 2022-04-17 05:00:00+00:00 2022-04-17 04:00:00+00:00            9

In [49]:
df['hour'] = df.end.dt.hour
df['day'] = df.end.dt.day
df = df[["day","hour","tweet_count"]]
df

     day  hour  tweet_count
0     17     1           27
1     17     2           38
2     17     3           23
3     17     4           30
4     17     5            9
..   ...   ...          ...
115   21    20           23
116   21    21           30
117   21    22           39
118   21    23           27
119   21    23           28

[120 rows x 3 columns]

In [50]:
response = client.search_recent_tweets(query)
print(response.meta)

tweets = response.data
for tweet in tweets:
    print(tweet.id)
    print(tweet.text)

{'newest_id': '1517604023960014857', 'oldest_id': '1517599446900563969', 'result_count': 10, 'next_token': 'b26v89c19zqg8o3fpytnyw9psop29f46h6tmgdx128g3h'}
1517604023960014857
RT @tralhasdojon: Ten algum editor na Marvel cujo trabalho é incentivar o máximo de novas roupas aleatórias pro Miranha (que ele vai usar d…
1517603727267569665
Lancei o miranha
1517603092031754241
@Gabrirul @liciawebber Perdi a paciência com a Marvel faz tempo maklgmklaeg acho que a única coisa da Marvel que eu assisti desde Endgame foi o filme do Miranha, e só
1517602838783967233
n queria falar isso mas batman arkham knight é melhor que os jogos do miranha ate agr
1517602838452613120
@RTFKT_MLNTH @bclever_nft @midnight235959 @TGIMCREW @NFTYbird @rx_miranha @MNLTH is opening!!!! @GGtesting1978 @dmoneybagsLLC @Fajni3 @Raerol420 @CryptoCorson_ @mypvck @BikalpaUpadhya1 @CryptoAstronau8 @hardriversz
1517602543966240769
tô vendo miranha pela 5 vez
1517601283426955265
RT @tralhasdojon: Ten algum editor na Marvel cujo trabalho é incentivar o máximo de novas roupas aleatórias pro Miranha (que ele vai usar d…
1517600703484674049
RT @tralhasdojon: Ten algum editor na Marvel cujo trabalho é incentivar o máximo de novas roupas aleatórias pro Miranha (que ele vai usar d…
1517599534091751425
RT @tralhasdojon: Ten algum editor na Marvel cujo trabalho é incentivar o máximo de novas roupas aleatórias pro Miranha (que ele vai usar d…
1517599446900563969
RT @tralhasdojon: Ten algum editor na Marvel cujo trabalho é incentivar o máximo de novas roupas aleatórias pro Miranha (que ele vai usar d…

In [9]:
#!pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-7.0.0-cp39-cp39-win_amd64.whl (16.1 MB)
Requirement already satisfied: numpy>=1.16.6 in c:\users\luizernestoferreiraa\anaconda3\lib\site-packages (from pyarrow) (1.20.3)
Installing collected packages: pyarrow
Successfully installed pyarrow-7.0.0

WARNING: You are using pip version 21.3.1; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\LuizErnestoFerreiraA\anaconda3\python.exe -m pip install --upgrade pip' command.

In [11]:
import pandas as pd
pd.read_parquet("..\data\imdb_top_1000.parquet", engine="pyarrow")

,title,released_year,certificate,runtime,genre1,genre2,genre3,imdb,overview,meta_score,director,star1,star2,star3,star4,votes,gross
0,The Shawshank Redemption,1994,A,142,Drama,None,None,9.3,Two imprisoned men bond over a number of years...,80,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469
1,The Godfather,1972,A,175,Crime,Drama,None,9.2,An organized crime dynasty's aging patriarch t...,100,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411
2,The Dark Knight,2008,UA,152,Action,Crime,Drama,9.0,When the menace known as the Joker wreaks havo...,84,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444
3,The Godfather: Part II,1974,A,202,Crime,Drama,None,9.0,The early life and career of Vito Corleone in ...,90,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000
4,12 Angry Men,1957,U,96,Crime,Drama,None,9.0,A jury holdout attempts to prevent a miscarria...,96,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,A,115,Comedy,Drama,Romance,7.6,A young New York socialite becomes interested ...,76,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,<NA>
996,Giant,1956,G,201,Drama,Western,None,7.6,Sprawling epic covering the life of a Texas ca...,84,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,<NA>
997,From Here to Eternity,1953,Passed,118,Drama,Romance,War,7.6,"In Hawaii in 1941, a private is cruelly punish...",85,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,30500000
998,Lifeboat,1944,None,97,Drama,War,None,7.6,Several survivors of a torpedoed merchant ship...,78,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,<NA>
999,The 39 Steps,1935,None,86,Crime,Mystery,Thriller,7.6,A man in London tries to help a counter-espion...,93,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,<NA>